{% extends "base.html" %}

{% block content %}

<h1>My Posts</h1>

{% if posts %}
    {% for post in posts %}
        <div>
            <h3>
                <a href="/posts/{{ post.id }}">{{ post.title }}</a>
            </h3>

            <a href="/posts/{{ post.id }}/edit">Edit</a>

            <form method="post" action="/posts/{{ post.id }}/delete">
                <button type="submit">Delete</button>
            </form>
            <div>
                {% if page > 1 %}
                    <a href="/?page={{ page - 1 }}">Previous</a>
                {% endif %}

                <a href="/?page={{ page + 1 }}">Next</a>
            </div>
        </div>
        <hr>
    {% endfor %}
{% else %}
    <p>You haven't created any posts yet.</p>
{% endif %}

{% endblock %}